body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

.top-right-pane {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 25%;
    z-index:5;
}

.top-left-pane {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 100%;
    z-index:5;
}

#signInBtn {
	display: block;
	background-color:#000000;
	height:20px;
    padding:0px;
    padding-left: 4px;
    padding-right: 4px;
    
    cursor:pointer;

	margin-right:8px;
	color:#ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	font-weight:300;
	text-transform: uppercase;
	float: right;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(135,135,135,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(135,135,135,1);
    box-shadow: 3px 3px 0px 0px rgba(135,135,135,1);
}

#signInBtn:hover {
	display: block;
	background-color:#e70000;
	height:20px;
	
	margin-right:8px;
	color:#ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	font-weight:300;
	text-transform: uppercase;
	float: right;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}


/*CSS FOR SEARCH BOX input*/

.sbx-custom {
    position: relative;
     display: inline-block;
   width: 300px;
    height: 31px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 15px;
  }
  
  .sbx-custom__wrapper {
    width: 100%;
    height: 100%;
  }
  
  .sbx-custom__input {
    display: inline-block;
    -webkit-transition: box-shadow .4s ease, background .4s ease;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px #7D7D7D;
    background: #FFFFFF;
    padding: 0;
    padding-right: 41px;
    padding-left: 50px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  .sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
    display: none;
  }
  
  .sbx-custom__input:hover {
    box-shadow: inset 0 0 0 1px #636363;
  }
  
  .sbx-custom__input:focus, .sbx-custom__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 1px #E70000;
    background: #FFFFFF;
  }
  
  .sbx-custom__input::-webkit-input-placeholder {
    color: #AAAAAA;
  }
  
  .sbx-custom__input::-moz-placeholder {
    color: #AAAAAA;
  }
  
  .sbx-custom__input:-ms-input-placeholder {
    color: #AAAAAA;
  }
  
  .sbx-custom__input::placeholder {
    color: #AAAAAA;
  }
  
  .sbx-custom__submit {
    position: absolute;
    top: 0;
    right: inherit;
    left: 0;
    margin: 0;
    border: 0;
    border-radius: 3px 0 0 3px;
    background-color: black;
    padding: 0;
    width: 40px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .sbx-custom__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
  
  .sbx-custom__submit:hover, .sbx-custom__submit:active {
    cursor: pointer;
  }
  
  .sbx-custom__submit:focus {
    outline: 0;
  }
  
  .sbx-custom__submit svg {
    width: 21px;
    height: 21px;
    vertical-align: middle;
    fill: #FFFFFF;
  }
  
  .sbx-custom__reset {
    display: none;
    position: absolute;
    top: 3.5px;
    right: 3.5px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    fill: rgba(0, 0, 0, 0.5);
  }
  
  .sbx-custom__reset:focus {
    outline: 0;
  }
  
  .sbx-custom__reset svg {
    display: block;
    margin: 4px;
    width: 16px;
    height: 16px;
  }
  
  .sbx-custom__input:valid ~ .sbx-custom__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
            animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
            animation-duration: .15s;
  }
  
  @-webkit-keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }
  
  @keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }
  
  /* Search results display */
  #srchResults{

    position: relative;
    display: block;
    width: auto;
   height: auto;
   max-height: 50%;
  
   box-sizing: border-box;
   font-size: 15px;
   background: #FFFFFF;
    overflow: auto;
   overflow-wrap: break-word;
   


  }

  .srch-result-item{

    width : 300px;
    height: 50px;
    border-color: rgb(1,0,0); 
    background : rgb(222, 223, 226);
    
    font-family: Helvetica, sans-serif;
       
    font-weight: bold;
    text-transform: uppercase;
    color :#000000;
    
    padding: 10px;



  }

  .srch-result-item:hover{
    color: white;
    background-color:#e70000;
  }


  .customPopup .leaflet-popup-tip,
  .customPopup .leaflet-popup-content-wrapper {
      background: #e93434;
      color: #000000;

     
      font-family: 'Helvetica', sans-serif;
      position: absolute;
      margin:20px;
      top: 0px;
      right: 0px;
      z-index: 20;
      padding: 5px;
      background: rgba(255, 255, 255, 0.95);
      font-size: 12px;
      line-height: 1.2;
      -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
      box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);

      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
       border-radius: 0 !important;
      
  }

  .txtWB {
    background: #000000;
    color:#ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 13px;
    font-weight:800;
    height:16px;
    
  }