body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}

html, body, #map {
    height: 100%;
    width: 100%;
    z-index: 1;
}


.top-right-pane {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 25%;
    z-index:5;
}

.top-left-pane {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 95%;
    z-index:5;
}

.bottom-left-pane {
    position: absolute;
    left: 20px;
    bottom: 0;
    height: 15%;
    z-index:5;
}

/** Leaflet Style Overrides **/

.leaflet-bar a, .leaflet-bar a:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.leaflet-bar a.leaflet-disabled {
  background-color: #666 !important;
  color: #bbb !important;
}

/* user login */

.userbox {
  padding: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  background: #000;
  color: #faebd7;
}


#signInBtn {
	display: block;
	background-color:#000000;
	height:20px;
    padding:0px;
    padding-left: 4px;
    padding-right: 4px;

    cursor:pointer;

	margin-right:8px;
	color:#ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	font-weight:300;
	text-transform: uppercase;
	float: right;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
    -webkit-box-shadow: 3px 3px 0px 0px rgba(135,135,135,1);
    -moz-box-shadow: 3px 3px 0px 0px rgba(135,135,135,1);
    box-shadow: 3px 3px 0px 0px rgba(135,135,135,1);
}

#signInBtn:hover {
	display: block;
	background-color:#e70000;
	height:20px;

	margin-right:8px;
	color:#ffffff;
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	font-weight:300;
	text-transform: uppercase;
	float: right;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}


  /*CSS FOR SEARCH BOX input*/

  .sbx-custom {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    background: transparent;
    z-index: 10;
    color: #faebd7;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
  }
  .sbx-custom input[type=search] {
    width: 60px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #000;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  }
  .sbx-custom input[type=search]:focus {
    width: 320px;
    outline: none;
    cursor: text;
  }
  .sbx-custom__input {
    background-color: #000;
    color: #faebd7;
    border: 3px #000 solid;
    border-radius: 4px;
    font-size: 1rem;
    background-image: url('../img/search_white.svg');
    background-position: 20px 17px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    padding-left: 60px;
  }
  .search-bar, .sbx-custom__input {
    height: 60px;
  }
  .sbx-custom__reset {
    display: none;
    position: absolute;
    top: 3.5px;
    right: 3.5px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    fill: #999;
    z-index: 1100;
  }

  .sbx-custom__reset:focus {
    outline: 0;
  }

  .sbx-custom__reset svg {
    display: block;
    margin: 4px;
    width: 16px;
    height: 16px;
  }

  .sbx-custom__input:valid ~ .sbx-custom__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
            animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
            animation-duration: .15s;
  }

  @-webkit-keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }

  @keyframes sbx-reset-in {
    0% {
      -webkit-transform: translate3d(-20%, 0, 0);
              transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }

  /* Search results display */
  #srchResults{
   width: auto;
   height: auto;
   max-height: 50%;
   box-sizing: border-box;
   font-size: 15px;
   overflow: auto;
   overflow-wrap: break-word;
   position: absolute;
   top: 60px;
   left: 0;
   border-radius: 4px;
   background: #000;
   z-index: 1000;
   color: #faebd7;
   font-family: 'Lato', sans-serif;
  }
  .srch-result-item{
    width : 320px;
    height: 50px;
    background : #000;
    font-weight: bold;
    text-transform: uppercase;
    color :#fff;
    padding: 14px;
    cursor: pointer;
  }
  .srch-result-item:hover{
    color: white;
    background-color:#333;
  }


  .customPopup .leaflet-popup-tip,
  .customPopup .leaflet-popup-content-wrapper {
      background: #e93434;
      color: #000000;
      font-family: 'Helvetica', sans-serif;
      position: absolute;
      margin:20px;
      top: 0px;
      right: 0px;
      z-index: 20;
      padding: 5px;
      background: rgba(255, 255, 255, 0.95);
      font-size: 12px;
      line-height: 1.2;
      -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
      box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
       border-radius: 0 !important;
  }

  .txtWB {
    background: #000000;
    color:#ffffff;
    font-family: 'Helvetica', sans-serif;
    font-size: 13px;
    margin-bottom: 5px;

  }
